<div class="container">
  <h1 class="title">
    Transaction Details:
  </h1>

  <form [formGroup]="transactionForm" class="form">
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Your Username</mat-label>
      <input matInput formControlName="username1"/>
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="suma"/>
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Send to</mat-label>
      <input matInput formControlName="username2"/>
    </mat-form-field>

  </form>

  <button mat-raised-button color="primary" (click)="sendUser()" appHoverBtn>
    Send Money
  </button>
</div>
